<%= form_with model: room, class: "card mb-4" do |form|%>
    <div class="card-body">
        <div class="mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
            <% room.errors.full_messages_for(:name).each do |message| %>
                <div class="text-danger"><%= message %></div>
            <% end %>
        </div>

        <div class="mb-3">
            <%= form.label :capacity, class: "form-label" %>
            <%= form.number_field :capacity, in: 1..20, class: "form-control" %>
            <% room.errors.full_messages_for(:capacity).each do |message| %>
                <div class="text-danger"><%= message %></div>
            <% end %>
        </div>

        <div class="row mb-3 gap-2">
            <div>
                <%= form.submit "Save room", class: "btn btn-success w-100" %>
            </div>
        </div>
    </div>

<% end %>